.container {
  border: solid black;
  padding: 5px;
  width: 135px;
}

.row {
  display: flex;
  width: auto;
}

.cell {
  padding: 5px;
  width: 20px;
  height: 20px;
}

.notification {
  padding: 20px;
  border-radius: 5px;
}

.ok {
  background-color: green;
  color: white;
}

.strange {
  background-color: red;
}

.wrong {
  background-color: orange;
}
